= render 'shared/header'
%nav.bread-crumbs
  %ul.bread-crumbs__items
    %li.bread-crumbs__items__value{itemscope: "", itemtype: ""}
      = link_to "" , class: "bread-crumbs__items__value__link" do
        %span{itemprop: "title"}
          - breadcrumb :user_profiles
      %li.bread-crumbs__items__value{itemscope: "", itemtype: ""}
        %span{itemprop: "title"}
          = breadcrumbs separator: " #{content_tag(:i, '', class: 'fa fa-angle-right')} "
- if flash[:profile_update]
  .delete-success-flash
    .delete-success-flash__text
      = flash[:profile_update]
    .delete-success-flash__close.close-btn
      ×
- if flash[:credit_create]
  .delete-success-flash
    .delete-success-flash__text
      = flash[:credit_create]
    .delete-success-flash__close.close-btn
      ×
%main.mypage
  .mypage__content
    .mypage__content__user
      .mypage__content__user__icon
        = link_to "#", class: "mypage__content__user__icon__link" do
          .mypage__content__user__icon__link__img
            -if current_user.avatar.present?
              = image_tag "#{current_user.avatar}", class: "mypage__content__user__icon__link__img__in"
            -else
              = image_tag 'member_photo_noimage_thumb.png', class: "mypage__content__user__icon__link__img__in"
          .mypage__content__user__icon__link__name
            %h2.bold
              = current_user.nickname
          .mypage__content__user__icon__link__num
            .mypage__content__user__icon__link__num__review
              評価
              %span.mypage__content__user__icon__link__num__review__count
                21
            .mypage__content__user__icon__link__num__exhibits
              出品数
              %span.mypage__content__user__icon__link__num__exhibits__count
                = current_user.items.length
    .mypage__content__announce
      %ul.mypage__content__announce__tabs
        %li.mypage__content__announce__tabs__notification
          %h3
            %a{"data-toggle" => "tab", :href => "#mypage-tab-notification"}
              お知らせ
        %li.mypage__content__announce__tabs__todo
          %h3
            %a{"data-toggle" => "tab", :href => "#mypage-tab-notification"}
              やることリスト
      .mypage__content__announce__details
        %ul.mypage__content__announce__details__notification
          = render 'shared/announce-details'
          = render 'shared/announce-details'
          = render 'shared/announce-details'
          = render 'shared/announce-details'
          = render 'shared/announce-details'
          %li.mypage__content__announce__details__notification__go
            %a{:href => "/jp/mypage/notification/"} 一覧を見る
        %ul.mypage__content__announce__details__todo
    .mypage__content__trade
      %h2 購入した商品
      %ul.mypage__content__trade__tabs
        %li.mypage__content__trade__tabs__during
          %h3
            %a{"data-toggle" => "tab", :href => "#mypage-tab-transaction-now"}
              取引中
        %li.mypage__content__trade__tabs__past
          %h3
            %a{"data-toggle" => "tab", :href => "#mypage-tab-transaction-now"}
              過去の取引
      .mypage__content__trade__content
        %ul.mypage__content__trade__content__during
          - if @items.present?
            - @items.each do |item|
              = render partial: 'shared/item-list', locals: { item: item }
          - else
            %li.mypage__content__trade__content__during__list
              取引中の商品がありません
        %ul.mypage__content__trade__content__past
          %li.mypage__content__trade__content__past__list
  = render 'shared/mypage-side-nav'
= render 'shared/footer'
= render 'shared/sellbtn'
