= render 'shared/users_header0'
.member__info__main
  %section.member__info__container
    %h2.member__info--head 会員情報入力
    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "member__info--inner"}) do |f|
      .member__info__content
        .form__group
          = f.label :ニックネーム
          %span.form__require 必須
          = f.text_field :nickname, value: params[:name], class: "input__default", placeholder: "例)メルカリ太郎"
          .error_message_box
            = @user.errors.full_messages_for(:nickname).first
        .form__group
          = f.label :メールアドレス
          %span.form__require 必須
          = f.email_field :email, value: params[:email], autocomplete: "email", class: "input__default", placeholder: "PC・携帯どちらでも可"
          .error_message_box
            = @user.errors.full_messages_for(:email).first
        -if params[:uid].present?
          .form__group
            = f.password_field :password, value: params[:password],type: "hidden", autocomplete: "new-password", class: "input__default", placeholder: "6文字以上"
          .form__group
            = f.password_field :password_confirmation, value: params[:password],type:"hidden", autocomplete: "new-password", class: "input__default", placeholder: "6文字以上"
        -else
          .form__group
            = f.label :パスワード
            %span.form__require 必須
            = f.password_field :password, value: params[:password],autocomplete: "new-password", class: "input__default", placeholder: "6文字以上"
            - @user.errors.full_messages_for(:password).each do |message|
              .error_message_box
                = message
          .form__group
            = f.label :'パスワード(確認)'
            %span.form__require 必須
            = f.password_field :password_confirmation, value: params[:password],autocomplete: "new-password", class: "input__default", placeholder: "6文字以上"
            .error_message_box
              = @user.errors.full_messages_for(:password_confirmation).first
        .form__group
          = f.text_field :uid, value: params[:uid],type: "hidden"
          = f.text_field :provider, value: params[:provider],type: "hidden"
        .form__group
          %h3.text--left.info__chapter__sub--head 本人確認
          %p.info__single__text
            安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
        .form__group
          = f.label :'姓(全角)'
          %span.form__require 必須
          = f.text_field :last_name, class: "input__default", placeholder: "例) 山田"
          .error_message_box
            = @user.errors.full_messages_for(:last_name).first
        .form__group
          = f.label :'名(全角)'
          %span.form__require 必須
          = f.text_field :first_name, class: "input__default", placeholder: "例) 彩"
          .error_message_box
            = @user.errors.full_messages_for(:first_name).first
        .form__group
          = f.label :'姓カナ(全角)'
          %span.form__require 必須
          = f.text_field :last_name_kana, class: "input__default", placeholder: "例) ヤマダ"
          .error_message_box
            = @user.errors.full_messages_for(:last_name_kana).first
        .form__group
          = f.label :'名カナ(全角)'
          %span.form__require 必須
          = f.text_field :first_name_kana, class: "input__default", placeholder: "例) アヤ"
          .error_message_box
            = @user.errors.full_messages_for(:first_name_kana).first
        .form__group
          =f.label :生年月日
          %span.form__require 必須
          %br
          .birthday__select__wrap
            .select__wrap
              = f.select(:birth_y, User::years, {prompt: "--"}, {class: "select__default"})
              .icon__arrow--bottom
                = fa_icon "angle-down"
            %span 年
          .birthday__select__wrap
            .select__wrap.select__wrap__month
              = f.select(:birth_m, User::months, {prompt: "--"}, {class: "select__default"})
              .icon__arrow--bottom
                = fa_icon "angle-down"
            %span 月
          .birthday__select__wrap
            .select__wrap.select__wrap__day
              = f.select(:birth_d, [], { prompt: "--" }, { class: "select__default" })
              .icon__arrow--bottom
                = fa_icon "angle-down"
            %span 日
          %div
          - @user.errors.full_messages_for(:birth_d).each do |message|
            .error_message_box
              = message
        %p.form__info__text
          ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。
      .member__info__content
        %input{ type: 'hidden', name: 'after_save_callback' }
        .form__group
          = recaptcha_tags
        .form__group
          %p.info__single__text.text--center
            「次へ進む」のボタンを押すことにより、
            = link_to '#', target: '_blank' do
              利用規約
            に同意したものとみなします
        %button.btn__default.btn__red{ type: 'submit' } 次へ進む
        .form__group.text--right
          %p
            = link_to '#', target: '_blank' do
              本人情報の登録について
              = fa_icon 'angle-right'
= render 'shared/second_footer'
