.mypage__side
  .mypage__side__nav
    %ul.mypage__side__nav__list
      %li
        =link_to  user_profiles_path(user_id: current_user.id), class: "mypage__side__nav__list__item" do
          マイページ
          .mypage__side__nav__list__item__icon
            = fa_icon "angle-right"
      %li
        =link_to "#", class: "mypage__side__nav__list__item" do
          お知らせ
          .mypage__side__nav__list__item__center
            .mypage__side__nav__list__item__center__num
              6
          .mypage__side__nav__list__item__icon
            = fa_icon "angle-right"
      %li
        =link_to "#", class: "mypage__side__nav__list__item" do
          やることリスト
          .mypage__side__nav__list__item__icon
            = fa_icon "angle-right"
      %li
        =link_to "#", class: "mypage__side__nav__list__item" do
          いいね！一覧
          .mypage__side__nav__list__item__icon
            = fa_icon "angle-right"
      %li
        =link_to new_item_path, class: "mypage__side__nav__list__item" do
          出品する
          .mypage__side__nav__list__item__icon
            = fa_icon "angle-right"
      %li
        =link_to  onsale_user_items_path, class: "mypage__side__nav__list__item" do
          出品した商品 - 出品中
          .mypage__side__nav__list__item__icon
            = fa_icon "angle-right"
      %li
        =link_to  orderd_user_items_path, class: "mypage__side__nav__list__item" do
          出品した商品 - 取引中
          .mypage__side__nav__list__item__icon
            = fa_icon "angle-right"
      %li
        =link_to  sold_user_items_path, class: "mypage__side__nav__list__item" do
          出品した商品 - 売却済み
          .mypage__side__nav__list__item__icon
            = fa_icon "angle-right"
      %li
        =link_to  "#", class: "mypage__side__nav__list__item" do
          購入した商品 - 取引中
          .mypage__side__nav__list__item__icon
            = fa_icon "angle-right"
      %li
        =link_to  "#", class: "mypage__side__nav__list__item" do
          購入した商品 - 過去の取引
          .mypage__side__nav__list__item__icon
            = fa_icon "angle-right"
      %li
        =link_to  "#", class: "mypage__side__nav__list__item" do
          ニュース一覧
          .mypage__side__nav__list__item__icon
            = fa_icon "angle-right"
      %li
        =link_to  "#", class: "mypage__side__nav__list__item" do
          評価一覧
          .mypage__side__nav__list__item__icon
            = fa_icon "angle-right"
      %li
        =link_to  "#", class: "mypage__side__nav__list__item" do
          ガイド
          .mypage__side__nav__list__item__icon
            = fa_icon "angle-right"
      %li
        =link_to  "#", class: "mypage__side__nav__list__item" do
          お問い合わせ
          .mypage__side__nav__list__item__icon
            = fa_icon "angle-right"

    %h3.mypage__side__nav__head 売上・ポイント
    %ul.mypage__side__nav__list
      %li
        =link_to  "#", class: "mypage__side__nav__list__item" do
          売上・振込申請
          .mypage__side__nav__list__item__icon
            = fa_icon "angle-right"
      %li
        =link_to  "#", class: "mypage__side__nav__list__item" do
          ポイント
          .mypage__side__nav__list__item__icon
            = fa_icon "angle-right"

    %h3.mypage__side__nav__head 設定
    %ul.mypage__side__nav__list
      %li
        =link_to  user_profile_path(id: current_user.profile.id), class: "mypage__side__nav__list__item" do
          プロフィール
          .mypage__side__nav__list__item__icon
            = fa_icon "angle-right"
      %li
        =link_to  "#", class: "mypage__side__nav__list__item" do
          住所変更
          .mypage__side__nav__list__item__icon
            = fa_icon "angle-right"
      %li
        =link_to  card_user_profile_path(id: current_user.profile.id), class: "mypage__side__nav__list__item" do
          支払い方法
          .mypage__side__nav__list__item__icon
            = fa_icon "angle-right"
      %li
        =link_to  "#", class: "mypage__side__nav__list__item" do
          メール/パスワード
          .mypage__side__nav__list__item__icon
            = fa_icon "angle-right"
      %li
        =link_to identification_user_profile_path(id: current_user.profile.id), class: "mypage__side__nav__list__item" do
          本人情報
          .mypage__side__nav__list__item__icon
            = fa_icon "angle-right"
      %li
        =link_to  "#", class: "mypage__side__nav__list__item" do
          電話番号の確認
          .mypage__side__nav__list__item__icon
            = fa_icon "angle-right"
      %li
        =link_to  logout_user_profiles_path, class: "mypage__side__nav__list__item" do
          ログアウト
          .mypage__side__nav__list__item__icon
            = fa_icon "angle-right"
