= render 'shared/header'
- if flash[:bought]
  .delete-success-flash
    .delete-success-flash__text
      = flash[:bought]
    .delete-success-flash__close.close-btn
      ×

%main.index-conteiner
  .slick_container
    %ul.slider
      %li
        = link_to "", "#" ,class: "top-banner banner-featured-hobby"

      %li
        = link_to "", "#" ,class: "top-banner banner-hajimeru-fortune"

      %li
        = link_to "", "#" ,class: "top-banner banner-new-register-2019"

      %li
        .banner-simple-app
          .top-visual
            .top-visual__content
              %h2
                スマホでかんたん
                %br
                フリマアプリ
              %p
                メルカリはスマホカメラからすぐに出品できる
                %br
                購入時も安心な独自システムのアプリです
              .top-visual__content__icons
                = link_to "#" do
                  = image_tag "https://www-mercari-jp.akamaized.net/assets/img/common/common/app-store.svg?185773308", class: "banner-icon"
                = link_to "#" do
                  = image_tag "https://www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?1857733084", class: "banner-icon"
            = image_tag "top_phone.png"
  %section.pickup-container
    %h2.pickup-container__head ピックアップカテゴリー
    %section.item-box-container
      %h3.item-box-container__title
        = link_to "#" do
          レディース 新着アイテム
      .item-box-content
        - @ladies_items.each do |item|
          = render partial: 'shared/card', locals: { item: item }
      .view-all
        = link_to "#" do
          すべての商品を見る

    %section.item-box-container
      %h3.item-box-container__title
        = link_to "#" do
          メンズ 新着アイテム
      .item-box-content
        - @mens_items.each do |item|
          = render partial: 'shared/card', locals: { item: item }
      .view-all
        = link_to "#" do
          すべての商品を見る

    %section.item-box-container
      %h3.item-box-container__title
        = link_to "#" do
          ベビー・キッズ 新着アイテム
      .item-box-content
        - @baby_items.each do |item|
          = render partial: 'shared/card', locals: { item: item }
      .view-all
        = link_to "#" do
          すべての商品を見る

    %section.item-box-container
      %h3.item-box-container__title
        = link_to "#" do
          コスメ・香水・美容 新着アイテム
      .item-box-content
        - @cosme_items.each do |item|
          = render partial: 'shared/card', locals: { item: item }
      .view-all
        = link_to "#" do
          すべての商品を見る

  %section.pickup-container
    %h2.pickup-container__head ブランドカテゴリー
    %section.item-box-container
      %h3.item-box-container__title
        = link_to "#" do
          シャネル 新着アイテム
      .item-box-content
        - @chanel_items.each do |item|
          = render partial: 'shared/card', locals: { item: item }
      .view-all
        = link_to "#" do
          すべての商品を見る

    %section.item-box-container
      %h3.item-box-container__title
        = link_to "#" do
          ルイヴィトン 新着アイテム
      .item-box-content
        - @vuitton_items.each do |item|
          = render partial: 'shared/card', locals: { item: item }
      .view-all
        = link_to "#" do
          すべての商品を見る

    %section.item-box-container
      %h3.item-box-container__title
        = link_to "#" do
          シュープリーム 新着アイテム
      .item-box-content
        - @supreme_items.each do |item|
          = render partial: 'shared/card', locals: { item: item }
      .view-all
        = link_to "#" do
          すべての商品を見る

    %section.item-box-container
      %h3.item-box-container__title
        = link_to "#" do
          ナイキ 新着アイテム
      %h3.item-box-container__title
      .item-box-content
        - @nike_items.each do |item|
          = render partial: 'shared/card', locals: { item: item }
      .view-all
        = link_to "#" do
          すべての商品を見る

= render 'shared/footer'
= render 'shared/sellbtn'
