#comment_delete_array
  = render partial: "shared/comment_delete", collection: @comments, as: :comment
= render partial: "shared/header"
- if flash[:success]
  .delete-success-flash
    .delete-success-flash__text
      = flash[:success]
%nav.bread-crumbs
  %ul.bread-crumbs__items
    %li.bread-crumbs__items__value{itemscope: "", itemtype: ""}
      = link_to "" , class: "bread-crumbs__items__value__link" do
        %span{itemprop: "title"}
          - breadcrumb :item_show, @item
      %li.bread-crumbs__items__value{itemscope: "", itemtype: ""}
        %span{itemprop: "title"}
          = breadcrumbs separator: " #{content_tag(:i, '', class: 'fa fa-angle-right')} "

.parent
  .parent-item-container
    .parent-item-container__item-name
      = @item.name
    .parent-item-container__item--main-content
      .parent-item-container__item--main-content__item-photo
        .parent-item-container__item--main-content__item-photo__main
          %ul
            - @item.item_photos.each do |photo|
              %li
                = image_tag "#{photo.image}", size: "300x300"
        .parent-item-container__item--main-content__item-photo__sub
          %ul
            - @item.item_photos.each do |photo|
              %li.parent-item-container__item--main-content__item-photo__sub-containts
                = image_tag "#{photo.image}", size: "75x75", alt: "写真"
        - if @item.order_statuses.present?
          %figcaption
            .item__sold-out__badge
              %div
                SOLD
      %table.item-container__item-detail
        %tr.item-container__item-detail__tr
          %th 出品者
          %td
            =link_to "#", class: "tdn" do
              = @item.user.nickname
            .evaluate
              .evaluate__good
                %i.fas.fa-laugh
                169
              .evaluate__soso
                %i.fas.fa-meh
                5
              .evaluate__bad
                %i.fas.fa-frown
                1
        %tr
          %th カテゴリー
          %td
            =link_to "#", class: "tdn" do
              .category-height
                = @parent_category.name
            =link_to "#", class: "tdn" do
              .category-height
                =fa_icon 'angle-right'
                = @child_category.name
            =link_to "#", class: "tdn" do
              .category-height
                =fa_icon 'angle-right'
                = @grandchild_category.name
        %tr
          %th ブランド
          %td
            = @item.brand.name
        - if @item.has_size?
          %tr
            %th サイズ
            %td
              = @item.category.name
        %tr
          %th 商品の状態
          %td
            = @item.condition_i18n
        %tr
          %th 配送料の負担
          %td
            = @item.shipping_fee_i18n
        %tr
          %th 配送の方法
          %td らくらくメルカリ便
        %tr
          %th 配送元地域
          %td
            =link_to "#", class: "tdn" do
              = @item.prefecture.name
        %tr
          %th 発送日の目安
          %td
            = @item.days_to_ship_i18n
    .parent-item-container__item-price-container
      %span.item-price
        ¥
        = number_with_delimiter("#{@item.price}")
      %span.item-tax (税込)
      %span.item-shipping-fee 送料込み
    - if user_signed_in? && @item.user_id != current_user.id
      - unless @item.order_statuses.present?
        - if @points != 0
          .parent-item-container__speech-bubble
            .sales__point__message
              P
              = number_with_delimiter("#{@points}")
              をお持ちです
        = link_to buy_item_url, class: "parent-item-container__item-buy-btn" do
          購入画面に進む
      - else
        .parent-item-container__item-buy-btn.disabled
          売り切れました
    - elsif user_signed_in? && @item.user_id == current_user.id
    - else
      = link_to buy_item_url, class: "parent-item-container__item-buy-btn" do
        購入画面に進む
    .parent-item-container__item-description
      = @item.comment
    .parent-item-container__various-btn
      .parent-item-container__various-btn__left
        - if user_signed_in?
          - if @item.favorite_items.find_by(user_id: current_user.id).present?
            = link_to item_favorite_items_path(item_id: @item.id, user_id: current_user.id), id: "link-likes", remote: true, method: :delete do
              %button.liked
                = fa_icon "heart", id: "heart-icon"
                %span いいね!
                %span#favorite-count
                  = @item.favorite_items.length.to_i
          - else
            = link_to item_favorite_items_path(item_id: @item.id, user_id: current_user.id), id: "link-likes", remote: true, method: :post do
              %button.likes
                %i#heart-icon.far.fa-heart
                %span いいね!
                %span#favorite-count
                  = @item.favorite_items.length.to_i
        - else
          = link_to new_user_session_path, id: "link-likes" do
            %button.likes
              %i#heart-icon.far.fa-heart
              %span いいね!
              %span#favorite-count
                = @item.favorite_items.length.to_i
        &emsp;
        = link_to "#", id: "link-report" do
          %button.report
            %i.far.fa-flag
            %span 不適切な商品の報告
      .parent-item-container__various-btn__safety
        .parent-item-container__various-btn__safety__link-contents
          =link_to "#", class: "lock" do
            =fa_icon "lock"
            あんしん・あんぜんへの取り組み
  .parent-comment-container
    .parent-comment-container-inner
      -if @comments
        = render partial: "comment", collection: @comments
    -if current_user
      =form_with url: item_comments_path(item_id: @item.id), class: "parent-comment-container__message-form" do |f|
        %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
        =f.text_area :content, class: "textarea"
        %button.parent-comment-container__parent-comment-submit-button{type: "submit"}
          %span コメントする

  .parent-nav-item-link
    .parent-nav-item-link-prev
      - if @previous
        =link_to item_path(id: @previous.id), class: "angle-left" do
          =fa_icon "angle-left"
          = @previous.name
    .parent-nav-item-link-next
      - if @next_item
        =link_to item_path(id: @next_item.id), class: "angle-right" do
          = @next_item.name
          =fa_icon "angle-right"
  .parent-social-media-container
    .parent-social-media-container__box
      =link_to "#", class: "parent-social-media-container__box__icon__f" do
        .parent-social-media-container__box__icon__f-facebook
          %i.fab.fa-facebook
      =link_to "#", class: "parent-social-media-container__box__icon__t" do
        .parent-social-media-container__box__icon__t-twitter
          %i.fab.fa-twitter
      =link_to "#", class: "parent-social-media-container__box__icon__p" do
        .parent-social-media-container__box__icon__p-pinterest
          %i.fab.fa-pinterest
  .parent-items-in-user-profile
    .parent-items-in-user-profile__items-box-container
      %h2.parent-items-in-user-profile__items-box-container__head
        =link_to "#", class:"parent-items-in-user-profile__items-box-container__head__name" do
          = @item.user.nickname
          さんのその他の出品
      .parent-items-in-user-profile__items-box-container__items-box-content
        = render partial: "ones-other-items"
      %h2.parent-items-in-user-profile__items-box-container__head
        =link_to "#", class:"parent-items-in-user-profile__items-box-container__head__name" do
          コーチのその他の出品
      .parent-items-in-user-profile__items-box-container__items-box-content
        = render partial: "brand-other-items"
= render partial: "shared/footer"
